* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: Arial Black, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    line-height: 1.6;
    background-color: #F9F6EE;
    color: #F9F6EE;
}

/* Utility Classes */
.container {
    text-align: center;
    padding: 0 1rem;
}

img {
    height: auto;
    width: 35%;
}

/* Showcase */
#showcase {
    background-image: url("../img/showcase.jpg");
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#showcase .container {
    background-color: #35393550 ;
    color: #F9F6EE;
    padding: 15px;
    border-radius: 50px;
    text-align: center;
    margin-bottom: 3em;
    margin-top: 3em;
    max-height: 100vh;
}

#showcase h1 {
    font-size: 75px;
    line-height: 1.2;
}

.lead {
    font-size: 1.8em;
    font-weight: 700;
}

#showcase .button {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #F9F6EE;
    border: 1px solid #F9F6EE;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
}

#showcase .button:hover {
    background-color: #F9F6EE;
    color: #353935;
}

.price-notice {
    margin-top: .8em;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
    font-size: 3em;
    line-height: 1.2;
}

.travel-price {
    font-size: .4em;
    padding-top: .7em;
}

/*About Us*/
#about-us {
    background-color: #F9F6EE;
    color: #353935;
    overflow-y: hidden;
}

#about-us .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px 10px;
}

.section-head {
    padding-bottom: 10px;
    font-size: 2rem;
    text-align: center;
}

#about-us p {
    background-color: #35393510;
    border-radius: 25px;
    line-height: 1.6;
    font-size: 20px;
    width: 75%;
    padding: 20px;
    margin-bottom: 10px;
}

#about-us img {
    border-radius: 25px;
    margin: 0;
    padding-top: 10px;
}

/* Services */
#services {
    background-color: #F9F6EE;
    color: #353935;
    overflow-y: hidden;
}
#services .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box-services {
    margin: 13px 0 0 0;
}

ul {
    background-color: #35393510;
    list-style: none;
    padding: 20px;
    margin: 0px 0 27px 0;
    border-radius: 25px;
}

li {
    font-size: 20px;
    font-weight: 400 ;
}

/* Contact Us */
#contact-us {
    background-color: #353935;
    color: #F9F6EE;
    overflow-y: hidden;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
#contact-us .container {
    margin: 15px 0 20px 0;
}

#contact-us h2 {
    font-size: 3rem;
}

h3 {
    font-size: 25px;
}

.contact-info-location {
    font-size: 22px;
}

#contact-us p {
    font-size: 2rem;
    font-weight: bold;
}

a[href^=tel] { 
    color: #FFF8DC; text-decoration: none; 
}


/* Responsive Web */
@media screen and (max-width: 400px) {
    .make-smaller {
        width: 100%;
    }
   #about-us .make-smaller-p, #services .make-smaller-p {
        width: 100%;
    }
    .price-notice {
        display: flex;
        flex-flow: column wrap;
        font-size: 2.3em;
    }
    .travel-price {
        font-size: .6em;
    }
}
